.ghost{
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.ghr{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
.gimg{
    /* border-radius: 12px; */
}